html {
    scroll-behavior: smooth;
  }

 li {
     display: inline;
 }

 .stopka {
    background-color: black;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
}


 .scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

body {
    width: 100%;
    font-size: 14px;
}

.container {
    margin-top: 50px;
}

.list-group-item {
    cursor: pointer;
}

.correct {
    background-color: #289a27;
}

.incorrect {
    background-color: #c41a21;
}

.buttons {
    padding: 10px 10px 10px 0;
}

.nav_container {
    height: 50px;
}

.navigation {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}